body {
  margin: 0;
  font-family: -apple-system, "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  background: white;
  color: #1c2354;
  overflow-x: hidden;
}
.border {
  margin: 40px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.15);
  border: 1px solid grey;
}
/* 
img {
}
img::after {
  position: absolute;
  top: -10;
  bottom: 0;
  left: -10;
  right: 0;
  background: #041143;
} */
