body {
  margin: 0;
  font-family: -apple-system, "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  background: white;
  color: #1c2354;
}
/* 
img {
}
img::after {
  position: absolute;
  top: -10;
  bottom: 0;
  left: -10;
  right: 0;
  background: #041143;
} */
